@font-face {
  font-family: arista;
  src: url("arista-new.otf") format("opentype");
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

h2 {
    color: white;
    text-align: center;
}

body {
    background-color: #444;
    font-family: arista;
}

p {
    font-size: 22px;
    color: crimson;
    text-align: center;
}

h3 {
    color: white;
    font-size: 25px;
    text-align: center
}


/* Make sure check that the classes are in the right spots */

a {
    font-size: 22.5px;
    color: dodgerblue;
    text-decoration: transparent;
    display: block;
    text-align:center;
}

a:hover {
    color: deepskyblue;
    text-shadow: 0px 0px 4px;
    transform: scale(1.05) translateY(-5%);
}

a.b {
    font-size: 22.5px;
    color: dodgerblue;
    text-decoration: transparent;
    display: block;
    text-align:center;
}

a.b:hover {
    color: deepskyblue;
    text-shadow: 0px 0px 4px;
    transform: scale(1.05) translateY(-5%);
}

a.c {
    font-size: 22.5px;
    color: dodgerblue;
    text-decoration: transparent;
    display: block;
    text-align:center;
}

a.c:hover {
    color: deepskyblue;
    text-shadow: 0px 0px 4px;
    transform: scale(1.05) translateY(-5%);
}

h4 {
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

.container {
    margin: 0 auto;
}

iframe {
    border-radius: 10px;
    border: 3px solid black;
    margin: 0 auto;
    width: 1000px;
    height: 562.45px;
    display:block;
}
